<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bca669">  <td>20/11/24 07:48:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccount.Create_Account(java.lang.String)[pri:0, instance:com.salesforce.testcases.CreateAccount@185d8b6]">Create_Account</td> 
  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>20/11/24 07:48:47</td>   <td>509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:com.salesforce.testcases.CreateAccount@185d8b6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>20/11/24 07:48:47</td>   <td>605</td> <td title="&lt;&lt;PreAndPost.afterSuite()[pri:0, instance:com.salesforce.testcases.CreateAccount@185d8b6]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>20/11/24 07:48:38</td>   <td>-8271</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeClass()[pri:0, instance:com.salesforce.testcases.CreateAccount@185d8b6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>20/11/24 07:48:38</td>   <td>-7728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeMethod()[pri:0, instance:com.salesforce.testcases.CreateAccount@185d8b6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>20/11/24 07:48:37</td>   <td>-8650</td> <td title="&gt;&gt;PreAndPost.beforeSuite()[pri:0, instance:com.salesforce.testcases.CreateAccount@185d8b6]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>20/11/24 07:48:38</td>   <td>-8278</td> <td>&nbsp;</td><td title="&gt;&gt;CreateAccount.setReportDetails()[pri:0, instance:com.salesforce.testcases.CreateAccount@185d8b6]">&gt;&gt;setReportDetails</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
</table>
