<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e73b0">  <td>20/11/30 07:58:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:com.salesforce.testcases.SFO133_CreateContact@185d8b6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>20/11/30 07:58:18</td>   <td>82</td> <td title="&lt;&lt;PreAndPost.afterSuite()[pri:0, instance:com.salesforce.testcases.SFO133_CreateContact@185d8b6]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>20/11/30 07:57:33</td>   <td>-44832</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeClass()[pri:0, instance:com.salesforce.testcases.SFO133_CreateContact@185d8b6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>20/11/30 07:57:34</td>   <td>-44222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeMethod()[pri:0, instance:com.salesforce.testcases.SFO133_CreateContact@185d8b6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>20/11/30 07:57:33</td>   <td>-45350</td> <td title="&gt;&gt;PreAndPost.beforeSuite()[pri:0, instance:com.salesforce.testcases.SFO133_CreateContact@185d8b6]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>20/11/30 07:57:42</td>   <td>-35823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SFO133_CreateContact.createContact(java.lang.String)[pri:0, instance:com.salesforce.testcases.SFO133_CreateContact@185d8b6]">createContact</td> 
  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>20/11/30 07:57:33</td>   <td>-44846</td> <td>&nbsp;</td><td title="&gt;&gt;SFO133_CreateContact.setReportDetails()[pri:0, instance:com.salesforce.testcases.SFO133_CreateContact@185d8b6]">&gt;&gt;setReportDetails</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1270855946</td>   <td></td> </tr>
</table>
